input.round {
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 0.8em;
    border-radius: 1500px;
}

#dialogTable td {
    text-align: center;
}

.triangle-bottomright-main {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
    position: fixed;
    bottom: 50px;
    right: 0;
}

.triangle-bottomright-hist {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
    position: fixed;
    bottom: 0;
    right: 0;
}

.pageTop {
    position: fixed;
    top: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.pageBottom {
    position: fixed;
    bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.ui-loader {
    z-index: 9999;
}

#popupDialog-screen {
    height: 513px !important;
}

/*.ui-dialog-background {
    opacity: 0.5;
    display: block !important;
    -webkit-transition: opacity 0s ease-in;
}

    .ui-dialog-background.pop.in {
        opacity: 0.5;
        -webkit-transition: opacity 0s ease-in;
    }

.ui-dialog {
    min-height: 100% !important;
    background: transparent !important;
}*/
