input.round {
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 0.8em;
    border-radius: 1500px;
}

#dialogTable td {
    text-align: center;
}

.triangle-bottomright-main {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
    position: fixed;
    bottom: 50px;
    right: 0;
}

.triangle-bottomright-hist {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
    position: fixed;
    bottom: 0;
    right: 0;
}

.pageTop {
    position: fixed;
    top: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.pageBottom {
    position: fixed;
    bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.ui-loader {
    z-index: 9999;
}

#popupDialog-screen {
    height: 513px !important;
}

.ui-dialog-background {
    opacity: 0.5;
    display: block !important;
    -webkit-transition: opacity 0s ease-in;
}

    .ui-dialog-background.pop.in {
        opacity: 0.5;
        -webkit-transition: opacity 0s ease-in;
    }

.ui-dialog {
    min-height: 100% !important;
    background: transparent !important;
}

#spanPopUpHead {
    color: white;
    font-family: Helvetica,Verdana,sans-serif;
    text-shadow: 0 1px 0 #000000;
}

.cancelbutton {
    background-color: rgba(51, 51, 51, 0.63) /*{b-bup-background-color}*/ !important;
    border-color: rgba(31, 31, 31, 0.37) /*{b-bup-border}*/ !important;
    color: #fff /*{b-bup-color}*/ !important;
    text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #111 /*{b-bup-shadow-color}*/ !important;
}

input[type=range] {
    -webkit-appearance: none;
    width: 50%;
}

    input[type=range]::-webkit-slider-runnable-track {
        width: 50%;
        height: 5px;
        background: #000;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: goldenrod;
        margin-top: -4px;
    }

    input[type=range]:focus {
        outline: none;
    }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #000;
        }

    input[type=range]::-moz-range-track {
        width: 50px;
        height: 5px;
        background: #000;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-moz-range-thumb {
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: goldenrod;
    }

    /*hide the outline behind the border*/
    input[type=range]:-moz-focusring {
        outline: 1px solid #000;
        outline-offset: -1px;
    }

    input[type=range]::-ms-track {
        width: 50%;
        height: 5px;
        /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
        background: transparent;
        /*leave room for the larger thumb to overflow with a transparent border */
        border-color: transparent;
        border-width: 6px 0;
        /*remove default tick marks*/
        color: #000;
    }

    input[type=range]::-ms-fill-lower {
        background: #000;
        border-radius: 10px;
    }

    input[type=range]::-ms-fill-upper {
        background: #000;
        border-radius: 10px;
    }

    input[type=range]::-ms-thumb {
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: goldenrod;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: #000;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: #000;
    }
